.mba-offer {}

  .mba-offer {
    clear: both;
    margin: 2px 0 0 0;
    border: 1px gainsboro solid;
    padding: .5em;
    text-align: left; 
    cursor: pointer;
    min-height: 80px;
    position: relative;
  }

  .mba-offer.selected {
    text-align: center;
  }

  .mba-offer .crop {
    overflow: hidden;
    height: 80px;
    min-width: 120px;
    float: left;
    display: inherit;
    margin: 0 0 .5em 0;
  }

  .mba-offer.selected .crop {
    height: auto;
    overflow: visible;
    float: none;
    display: inherit;
  }

  .mba-offer img {
    float: left;
    max-width: 100%;
    max-height: 100%;
    margin: 2px 10px 5px 2px;
  }

  .mba-offer.selected img {
    max-width: 240px;
    max-height: 100%;
    margin: 2px auto;
    clear: both;
    float: none;
  }

  .mba-offer p {
    padding: 0;
    margin: 5px 0 0 0;
  }

  .mba-offer h4 {
    margin: 0;
    padding: 0;
  }

  .mba-share {}

    ul.mba-share {
        position: absolute;;
        bottom: .5em;
        right: .5em;
      }

    .mba-share li {
      display: inline;
      float: right;
      list-style-type: none;
    }

    .mba-share  li a {
      display: block;
      position: relative;
      height: 21px;
      margin: 0px;
      padding: 0px;
      line-height: 18px;
    }

    .mba-share .link1 {
      height: 16px;
      width: 16px;
      background: url(symboles.png) -105px 0px no-repeat;
      margin: 2px 0 0 5px;
    }

    .mba-share .link2 {
      height: 16px;
      width: 16px;
      background: url(symboles.png) -85px 0px no-repeat;
      margin: 2px 0 0 5px;
    }

    .mba-share .link3 {
      height: 16px;
      width: 16px;
      background: url(symboles.png) -65px 0px no-repeat;
      margin: 2px 0 0 10px;
    }

    .favs {
      clear: both;
      margin: 10px auto;
    }

    .favs a {
      text-decoration: none;
      color: gray;
    }
